@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.nav-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.padding-main {
  @apply md:pl-25 ml-10 md:ml-25 lg:ml-35 mr-10 lg:mr-10 xl:mr-5;
}

.form-error{
  @apply text-red-500 text-xs font-semibold mt-1;
}

.primary-btn {
  @apply flex w-full justify-center rounded-md bg-blue-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-slate-600;
}